---
import Logo from './logo.astro';
import { ModeToggle } from './mode-toggle';
---

<header class='container flex h-full items-center justify-between'>
	<Logo />
	<nav>
		<ul>
			<li><a href='/courses'>Courses</a></li>
		</ul>
	</nav>
	<ModeToggle client:load />
</header>
