---
import HeaderMenu from './header-menu';
import Logo from './logo.astro';
import { ModeToggle } from './mode-toggle';
---

<header class='container flex h-full items-center justify-between'>
	<Logo />
	<div class='flex items-center gap-4'>
		<HeaderMenu client:load />
		<ModeToggle client:load />
	</div>
</header>
