<div
	class='not-prose mx-auto flex w-fit flex-col gap-4 rounded bg-secondary px-6 py-4 text-center'
>
	<h2 class='text-2xl'>Stay Updated with the FH Newsletter!</h2>
	<p class='text-muted-foreground'>
		We use Beehiiv to send you our newsletter and will never spam you.
	</p>
	<iframe
		class='w-full max-w-lg'
		title='Frontend Hire Newsletter Form'
		src='https://embeds.beehiiv.com/e0545274-5784-4494-bb18-a3aa2bf8f615?slim=true'
		data-test-id='beehiiv-embed'
		height='52'
		frameborder='0'
		scrolling='no'
		style='margin: 0; border-radius: 0px !important; background-color: transparent;'
	></iframe>
</div>
