---
import type { MarkdownHeading } from 'astro';

type Props = {
	headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<nav class='space-y-4'>
	<h2 class='font-bold'>On this page</h2>
	<ul class='space-y-2'>
		{
			headings.map((heading) => (
				<li>
					<a href={`#${heading.slug}`}>{heading.text}</a>
				</li>
			))
		}
	</ul>
</nav>
