---
import PageHeading from '@/components/page-heading.astro';
import SEO from '@/components/seo.astro';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';

export async function getStaticPaths() {
	return [
		{
			params: { skill: 'react', questionId: 'use-state-1' },
		},
	];
}

const title = `Coding Questions`;
const description = `questions meant for real world and interview based scenarios.`;
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />
	<main class='flex flex-col gap-4'>
		<PageHeading title={title} description={description} />
	</main>
</BaseLayoutWithHeader>
