---
import PageHeading from '@/components/page-heading.astro';
import SEO from '@/components/seo.astro';
import BaseLayoutWithHeader from '@/layouts/base-layout-with-header.astro';

const title = 'Analytics';
const description = 'Look at how our platform is performing.';
---

<BaseLayoutWithHeader>
	<SEO slot='head' title={title} description={description} />

	<main class='flex grow flex-col'>
		<PageHeading title={title} description={description} />
		<iframe
			title='Plausible Analytics for Frontend Hire'
			plausible-embed
			src='https://plausible.io/share/frontendhire.com?auth=ixmgX9zqPLr5BTDX7czZa&embed=true&theme=dark&background=transparent'
			loading='lazy'
			style='width: 1px; min-width: 100%; height: 1600px;'></iframe>
		<script is:inline async src='https://plausible.io/js/embed.host.js'
		></script>
	</main>
</BaseLayoutWithHeader>
