---
import Header from '@/components/header.astro';
import BaseLayout from './base-layout.astro';
---

<BaseLayout>
	<slot name='head' />
	<div class='flex min-h-svh flex-col'>
		<!-- FIXED HEADER -->
		<div
			class='fixed top-0 z-10 h-16 w-screen border-b border-b-muted bg-background'
		>
			<Header />
		</div>

		<div class='container flex grow flex-col py-16'>
			<div class='flex grow flex-col pt-5'>
				<slot />
			</div>
		</div>
	</div>
</BaseLayout>
