---
import ThemeBlockingScript from '@/scripts/theme-blocking-script.astro';

import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
---

<html lang='en' class='scroll-pt-20 scroll-smooth'>
	<head>
		<slot slot='head' name='head' />
		<ViewTransitions fallback='swap' />
		<ThemeBlockingScript />
	</head>
	<body>
		<slot />
	</body>
</html>
