<div class='flex'>
	<aside class='hidden w-full max-w-40 md:block'>
		<slot name='left' />
	</aside>

	<div class='grow'>
		<article class='prose mx-auto dark:prose-invert'>
			<slot />
		</article>
	</div>

	<aside class='hidden w-full max-w-40 lg:block'>
		<slot name='right' />
	</aside>
</div>
