---
import BaseLayoutWithHeader from './base-layout-with-header.astro';
---

<BaseLayoutWithHeader>
	<slot name='head' />

	<!-- TODO: Make it fixed? -->
	<div class='mb-4 lg:hidden'>
		<slot name='mobile-course-menu' />
	</div>

	<div>
		<div class='fixed top-20 hidden overflow-y-auto lg:block lg:w-52'>
			<slot name='left-sidebar' />
		</div>

		<main class='lg:pl-52'>
			<div class='flex flex-col gap-10 pb-10 lg:pl-5 xl:mr-52 xl:pr-16'>
				<article class='prose max-w-none dark:prose-invert'>
					<slot />
				</article>

				<div>
					<slot name='footer' />
				</div>
			</div>

			<div
				class='fixed bottom-0 right-[max(0px,calc(50%-48rem))] top-20 hidden w-52 overflow-y-auto px-2 xl:block'
			>
				<slot name='right-sidebar' />
			</div>
		</main>
	</div>
</BaseLayoutWithHeader>
