<div class='flex w-full grow justify-between'>
	<div class='w-40 shrink-0'>
		<slot name='left' />
	</div>
	<div class='flex'>
		<article class='prose grow dark:prose-invert'>
			<slot />
		</article>
		<div class='w-40 shrink-0'>
			<slot name='right' />
		</div>
	</div>
</div>
