---
import BaseLayoutWithHeader from './base-layout-with-header.astro';
---

<BaseLayoutWithHeader>
	<slot name='head' />

	<div class='flex grow pt-5'>
		<div class='hidden h-full w-40 md:fixed md:block'>
			<slot name='left-sidebar' />
		</div>

		<div class='flex grow md:pl-40'>
			<main class='flex grow flex-col gap-4 pb-10'>
				<article class='prose mx-auto max-w-[70ch] grow dark:prose-invert'>
					<slot />
				</article>

				<div class='mx-auto w-full max-w-[70ch]'>
					<slot name='footer' />
				</div>
			</main>

			<div class='relative hidden h-full w-40 pl-5 lg:block'>
				<aside class='fixed'>
					<slot name='right-sidebar' />
				</aside>
			</div>
		</div>
	</div>
</BaseLayoutWithHeader>
