---
import BaseLayout from './base-layout.astro';
---

<BaseLayout>
	<slot name='head' />
	<main class='flex min-h-svh flex-col gap-2'>
		<div class='px-2 md:px-5'>
			<slot name='header' />
		</div>
		<div class='flex grow flex-col px-2 py-2 md:px-5'>
			<slot />
		</div>
	</main>
</BaseLayout>
